.div-logo{
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-image: url(../img/carousel.jpg);
    background-color: rgb(128, 128, 128);
    background-size: cover;
    height: 320px;    
}

.img{
    display: block;
    margin: auto;
}

.footer{
    background-color: bg-dark;
}